@model ZW_Blog.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<header class="intro-header" style="background-image: url('../../img/question-marks_37097.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1 class="text-center question">@ViewBag.Title</h1>
                    <br />
                </div>
            </div>
        </div>
    </div>
</header>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4 class="text-center">Enter your email.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10 text-center">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Email Link" />

        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<style>
    .question
    {
        color: lightgrey;
        -webkit-text-stroke: 3px;
        -webkit-text-stroke-color: red;
    }
</style>